<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:if="${param.success}">
    <div class="alert alert-info">You've successfully registered to our awesome app!</div>
</div>
<form th:action="@{/registration}" th:object="${user}" method="post">
<label for="prenom"> Prenom:

</label>
    <input id="prenom" th:field="*{prenom}" type="text">
    <br>
    <label for="nom"> nom:

    </label>
    <input id="nom" th:field="*{nom}" type="text">
    <br>
    <label for="email"> email:

    </label>
    <input id="email" th:field="*{email}" type="text">
    <br>
    <label for="password"> password:

    </label>
    <input id="password" th:field="*{password}" type="password">
    <br>
    <label for="password"> password:

    </label>
    <input id="password" th:field="*{password}" type="password">
    <br>

    <input  type="submit" value="enregistrer">
</form>
</body>
</html>