<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Dashio - Bootstrap Admin Template</title>

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous">
  <!-- Bootstrap core CSS -->
<!--  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
  <!--external css-->
  <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
<section id="container">
  <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
  <!--header start-->
  <header class="header black-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="index.html" class="logo"><b>GUINEE<span>HOPITAL</span></b></a>
    <!--logo end-->

    <div class="top-menu">
      <ul class="nav pull-right top-menu">
        <li><a class="logout" href="login.html">Se Deconnecter</a></li>
      </ul>
    </div>
  </header>
  <!--header end-->
  <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
  <!--sidebar start-->
  <aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a href="profile.html"><img src="/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
        <h5 class="centered">Sam Soffes</h5>
        <li class="mt">
          <a th:href="@{/}">
            <i class="fa fa-dashboard"></i>
            <span>Accueil</span>
          </a>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-desktop"></i>
            <span>Hopital</span>
          </a>
          <ul class="sub">
            <li><a th:href="@{/new}">Ajouter un hopital</a></li>
            <li><a th:href="@{/hopitals}">Liste des hopitaux</a></li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-cogs"></i>
            <span>Service</span>
          </a>
          <ul class="sub">
            <li><a th:href="@{/service}">Ajouter un service</a></li>
            <li><a th:href="@{/dep}">Liste des services</a></li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-book"></i>
            <span>Heure</span>
          </a>
          <ul class="sub">
            <li><a th:href="@{/heure}">Nouvelle heure</a></li>
            <li><a th:href="@{/list}">Liste des heures</a></li>
          </ul>
        </li>
        <li class="sub-menu">
          <a class="active" href="javascript:;">
            <i class="fa fa-tasks"></i>
            <span>Rendez-vous</span>
          </a>
          <ul class="sub">
            <li><a th:href="@{/rendezVous}">liste des rendez-vous</a></li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-th"></i>
            <span>Les utilisateurs</span>
          </a>
          <ul class="sub">
            <li><a th:href="@{/new/user}">Ajouter un utilisateur</a></li>
            <li><a th:href="@{/users}">Liste des utilisateurs</a></li>
          </ul>
        </li>

      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">

      <!-- FORM VALIDATION -->
      <div class="row mt">
        <div class="col-lg-12">
          <h4><i class="fa fa-angle-right"></i> Formulaire de service</h4>
          <div class="form-panel">
            <div class=" form">
              <form class="cmxform form-horizontal style-form" id="commentForm" method="post"
                    th:action="@{/save}"
                    th:object="${hopital}" >
                <div class="form-group ">
                  <label for="hopital" class="control-label col-lg-2">Nom hopital</label>
                  <div class="col-lg-10">
                    <input class=" form-control" id="hopital" name="nom_hopital" type="text" required />
                  </div>
                </div>

                <div class="form-group ">

                  <div class="col-lg-10">
<!--                    <th:block  th:each="service:${departements}">-->
<!--                      <div> <input  id="services" name="services" type="checkbox" th:field=*{services}"-->
<!--                              th:value="${service.id}"    th:field="${service.nom_service}"   >-->
<!--                      </div>-->

<!--                    </th:block>-->
                    <div class="checkbox" th:each="ser : ${depart}" >
                      <label>

                        <input  type="checkbox" name="departements"
                                th:text="${ser.nom_service} "
                                th:value="${ser.id}">

                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-theme" type="submit" >Enregistrer</button>
                    <button class="btn btn-theme04" th:href="@{/hopitals}" type="button">Annuler</button>
                  </div>
                </div>
              </form>
<!--              <div class="accordion" id="accordionExample">-->
<!--                <div class="accordion-item" th:each="ser : ${depart}">-->
<!--                  <h2 class="accordion-header" id="${hopital.id}">-->

<!--                    <button class="accordion-button" type="button" data-bs-toggle="collapse"-->
<!--                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"-->
<!--                            name="departements"-->
<!--                            th:text="${ser.nom_service} "-->
<!--                            th:value="${ser.id}"-->

<!--                    >-->
<!--&lt;!&ndash;                      Accordion Item #1&ndash;&gt;-->
<!--                    </button>-->
<!--                  </h2>-->
<!--                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="${ser.id}" data-bs-parent="#accordionExample">-->
<!--                    <div class="accordion-body"  th:each="j : ${jours}" >-->
<!--                      <strong-->
<!--                              th:text="${j.nom_jour} "-->
<!--                             ></strong>-->

<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

          </div>
          <!-- /form-panel -->
        </div>
        <!-- /col-lg-12 -->
      </div>

      </form>
      </div>
      </div>
      <!-- /form-panel -->
      </div>
      <!-- /col-lg-12 -->
      </div>
      <!-- /row -->
    </section>
    <!-- /wrapper -->
  </section>
  <!-- /MAIN CONTENT -->
  <!--main content end-->
  <!--footer start-->
  <footer class="site-footer">
    <div class="text-center">
      <p>
        &copy; Copyrights <strong>Rendez Vous</strong>. All Rights Reserved
      </p>
      <div class="credits">
        <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
          Licensing information: https://templatemag.com/license/
        -->
        Created with Dashio template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
      <a href="form_validation.html#" class="go-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
  </footer>
  <!--footer end-->
</section>
<!-- js placed at the end of the document so the pages load faster -->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
<script src="lib/jquery.scrollTo.min.js"></script>
<script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
<!--common script for all pages-->
<script src="lib/common-scripts.js"></script>
<!--script for this page-->
<script src="lib/form-validation-script.js"></script>

</body>

</html>
